@media (hover: hover){
    html:hover{
        cursor: default;

        a:hover{
            cursor: pointer;
        }
    }
    nav{
        a:hover{
            outline: 5px solid $bgHeaderGreen;
            cursor: pointer;
        }
    }
    .tagcloud--item:hover{
        color: $bgHeaderGreen
    }
    .about-card li:hover{
        cursor: pointer;
        text-shadow: 2px 2px $white;
    }
}