@media (hover: hover){
    //Cursor is default everywhere
    html{
        cursor: default;
    }
    html a:hover{
        cursor: pointer;
    }
    //Navigation side bar interaction
    nav a:hover{
        outline: 5px solid $bgHeaderGreen;
    }
    //Each item from the sphere of skills
    .tagcloud--item:hover{
        color: $bgHeaderGreen
    }
    //Each item from the list/post-it
    .about-container li:hover{
        cursor: pointer;
        text-shadow: 2px 2px $white;
    }
    //The slide selector
    .selector:hover{
        cursor: pointer;
        scale: 1.1;
    }
    //Card of projects
    .card:hover > #content > *{
        transform: translateY(0px);
        opacity: 1;
    }
    .card a:hover{
        background-color: $bgHeaderGreen;
    }
}