@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}
html{
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
// Chrome
html::-webkit-scrollbar {
    display: none;
}
body{
    background-color: $white;
    overflow: hidden
}
.section-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;

    & > span{
        position: absolute;
        z-index: 10;
        border-bottom: 1px solid whitesmoke;
        color: white;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 4.75em;
        padding-bottom: .75%;
    }
}