//Generall classes for later
//After element for the stars
%afterStar{
    content: '';
    position: absolute;
    z-index: 4;
    left: 200px;
    background: transparent;
    border-radius: 50%;
}
//Generall specs for the speech bubbles
%speechBubble{
    margin: 2%;
    box-sizing: border-box;
    padding: 1em 1em;
    background-color: whitesmoke;
    border-radius: 20px;
}
.about{
    @include size(100vw,100vh);
    background-color: $white;
    box-shadow: 3px 3px 30px black;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        background: radial-gradient(ellipse at bottom, #1a324f 0%, #090A0F 100%);
        position: absolute;
        z-index: 3;
        width: 100vw;
        height: 100vh;
    }
    //Input type radio for picking the slides
    .slide-picker-container{
        position: absolute;
        z-index: 99;
        bottom: 15%;
        right: 25%;
        display: flex;
        column-gap: 1rem;

        input{
            display: none;
        }
        label{
           div{
            background-color: transparent;
            border: 4px solid $bgHeaderGreen;
            @include size(3em,2px);
            border-radius: 1em;
            transition: 300ms;
           }
        }
    }
    //Slides
    .about-content{
        //Slide 1
        & > .slide:nth-child(1){
            & > .about-container{
                //Text
                color: white;
                text-shadow: 5px 5px black;
                z-index: 3;
                //Austronaut
                &:nth-child(1){
                    .austronaut{
                        margin-top: 10%;
                        @include bgImg(url('../img/astronaut.png'),contain,no-repeat, center);
                        width: 100%;
                        aspect-ratio: 1;
                    }
                    h3{
                        bottom: 40vh;
                    }
                }
                //Text
                &:nth-child(2){
                    p{
                        width: 150%;
                        margin-top: 20%;
                        font-size: 1.5em;
                        text-shadow: 2px 2px 7px black;
                    }
                    h3{
                        bottom: 0;
                    }
                }

                h3{
                    font-size: 3em;
                    position: absolute;
                    width: 200%;
                }
            }
        }
        //Slide 2
        & > .slide:nth-child(2){
            & > .about-container{
                //Post-it
                &:nth-child(1){
                    $postItSize: 19vw;
                    @include size($postItSize,$postItSize);
                    background-color: rgb(250, 250, 82);
                    box-shadow: 3px 3px 10px black;
                    border-radius: 0px;
                    left: 35%;

                    article{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 10%;

                        h4{
                            font-family: 'Permanent Marker', cursive;
                            width: 100%;
                            text-align: end;
                            box-sizing: border-box;
                            padding: 2%;
                            span{
                                font-family: inherit;
                                text-decoration: line-through;
                            }
                        }
                        li{
                            font-family: 'Permanent Marker', cursive;
                            display: flex;
                            width: fit-content;
                            margin-left: 7.5%;
                            font-size: 1.3vw;
                            font-weight: 900;
                            transition: 200ms;
                            position: relative;
                        }
                    }
                }
                //Pencil
                &:nth-child(2){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 65%;
                    top: 30%;
                    z-index: 3;

                    .pencil{
                        @include bgImg(url('../img/pencil.png'),contain,no-repeat, center);
                        width: 20vw;
                        scale: 1.3;
                        aspect-ratio: 1;
                        filter: drop-shadow(3px 3px black);
                    }
                }
            }
        }
        //Slide 3
        & > .slide:nth-child(3){
            display: flex;
            justify-content: center;
            & > .about-container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include size(80vw, 32.5vw);
                top: 10%;
                left: 10%;

                & > * > article{
                    position: relative;

                    &::after{
                        content: '';
                        @include size(22.5px,22.5px);
                        background-color: whitesmoke;
                        position: absolute;
                        z-index: 99; 
                        border-radius: 4px;
                        rotate: 45deg;
                    }
                }   
                //Speech bubbles
                .row1{
                    article{
                        @extend %speechBubble;
                        
                        p{
                            text-align: center;
                        }
                        &::after{
                            left: 40%;
                        }
                    }
                }
                .row2{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    article{
                        @extend %speechBubble;

                        &:nth-child(1){
                            width: 30%;

                            &::after{
                                top: 15%;
                                right: -7.5px;
                            }
                        }
                        &:nth-child(2){
                            @include size(30%,45%);
                            margin-bottom: 7%;

                            &::after{
                                top: 20%;
                                left: -2%;
                            }
                        }
                    }
                }
                //Me coding
                &:nth-child(2){
                    top: 30%;
                    left: 38%;
                    z-index: 3;

                    .me-coding{
                        @include bgImg(url('../img/meCoding.png'),contain,no-repeat, center);
                        width: 30vw;
                        scale: 1.1;
                        aspect-ratio: 1;
                        filter: drop-shadow(3px 3px black); 
                    }
                }
            }
        }
        // General slide specs 
        .about-container{
            width: 200px;
            height: 250px;
            position: absolute;
            z-index: 10;
            left: 25%;
            top: 35%;
            border-radius: 10px;

            &:nth-child(2){
                left: 50%; 
            }
        }
    }
    //Bg stars
    #stars{
        @include stars(1px,50s,$shadows-small);
        &::after{
            @include size(1px,1px);
        }
    }
    #stars2{
        @include stars(2px,90s,$shadows-medium);
        &::after{
            @include size(2px,2px);
            @extend %afterStar;
        }
    }
    #stars3{
        @include stars(3px,110s,$shadows-big);
        &::after{
            @include size(3px,3px);
            @extend %afterStar;
        }
    }
    .uncheck{
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: black;
            bottom: 45%;
            left: 0;
        }
    }
    //Feedback after unchecking items from list
    .about-container > span{
        filter: drop-shadow(2px 2px 1px black);
        position: absolute;
        color: white;
        width: 25vh;
        font-size: 1.5vw;
        display: none;
    }
    .one{
        right: 110%;
        top: -10%;
        rotate: -5deg;
        text-align: end;
    }
    .two{
        right: 120%;
        top: 40%;
        rotate: -5deg;
        text-align: end;
    }
    .three{
        right: 120%;
        bottom: -15%;
        rotate: -5deg;
        text-align: end;
    }
    .four{
        left: 110%;
        top: -20%;
        rotate: 5deg;
    }
    .five{
        left: 110%;
        top: 35%;
        rotate: -5deg;
    }
    .six{
        left: 120%;
        bottom: -15%;
        rotate: 5deg;
    }
}
//Slide pickers label tag
.selected{
    background-color: $bgHeaderGreen !important;
    box-shadow: 2px 2px black;
}