.projects{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, black 50%, $black 50%);
    overflow: hidden;

    .content{
        width: 100vw;
        height: 100vh;
        display: flex;

        .left{
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .sphere{
                display: grid;
                place-items: center;
                position: relative;
                margin-bottom: 15vh;

                &::after{
                    content: '';
                    width: 60%;
                    height: 5vh;
                    background-color: gainsboro;
                    border-radius: 70%;
                    box-shadow: 3px 3px 30px 3px white;
                    position: absolute;
                    bottom: 0%;
                }
                &::before{
                    content: '';
                    width: 103%;
                    height: 10vh;
                    background-image:  linear-gradient(to top, rgba(gainsboro, .35), transparent );
                    position: absolute;
                    bottom: calc(0% + 4%);
                    z-index: 2;
                    clip-path: polygon(0 0, 100% 0, 79% 100%, 21% 100%);
                }
            }
            .tagcloud{
                scale: 0.8;
        
                .tagcloud--item{
                    transition: 300ms;
                    font-size: 1.3em;
                }
            }
        }
        .right{
            width: 50vw;
            display: grid;
            place-items: center;

            article{
                @include size(80%,90%);
                position: relative;
                margin-top: 5%;

                .card{
                    overflow: hidden;
                    position: absolute;
                    width: 32.5%;
                    aspect-ratio: 3/4;
                    box-shadow: rgba(0, 0, 0, 09) 0px 3px 8px;
                    border-radius: 10px;
                    border: 2px solid $bgHeaderGreen;

                    &::before{
                        content: '';
                        position: absolute;
                        @include size(100%,80%);
                        top: 0px;
                        left: 0px;
                        right: 0;
                        bottom: 0;
                        filter: brightness(30%);
                    }
                    &:nth-child(1){
                        top: 0;
                        left: 0;

                        &::before{
                            @include bgImg(url('../img/Coffee++2.png'),cover,no-repeat, center);
                        }
                    }
                    &:nth-child(2){
                        top: 30%;
                        right: 10%;
                        
                        &::before{
                            @include bgImg(url('../img/Universe.png'),cover,no-repeat, 30%);
                        }
                    }
                    &:nth-child(3){
                        bottom: 10%;
                        left: 0;

                        &::before{
                            @include bgImg(url('../img/ShelfishReadersProject.png'),cover,no-repeat, center);
                        }
                    }
                    & > section{
                        box-sizing: border-box;
                        padding: 10%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        row-gap: 2em;
                        color: white;
                        position: relative;

                        & > *{
                            transition: 400ms;
                            text-shadow: 2px 2px 5px black;
                            filter: brightness(150%);

                            &:not(h2){
                                opacity: 0;
                            }
                        }
                        h2{
                            font-size: 1.75vw;
                            transform: translateY(570%);
                        }
                        p{
                            transform: translateY(50px);
                        }
                        div{
                            display: flex;
                            justify-content: center;
                            column-gap: 1em;
                            transform: translateY(50px);
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            padding: 2%;
                            border: 2px solid $bgHeaderGreen;
                            border-radius: 5px;
                            text-shadow: 2px 2px 5px black;
                            transition: 300ms;
                        }
                    }
                }
            }
        }
    }
}
